body {
	background-color:#afc7cd;
}

#wrapper{
	font-family:"Lucida Bright",fantasy;
	font-size: 12pt;
	color: #473904;
	padding-left:5px;
	padding-right:5px;
}

.container-fluid {
	margin: 100px;
}

#body-wrapper{
	margin:0px;
}

h4 > span{
	background-color:rgba(175,199,205,0.7);
	padding:10px;
	font-size:16px;
	font-weight:bold;
}

h5 > span{
	background-color:rgba(209,241,227,0.7);
	text-align: center;
	padding:5px;
	font-size:14px;
	font-weight:bold;
}

h6 {
	font-weight:bold;
	font-size:12px;
}

p {
	font-size:12px;
}

li {
	font-size:12px;
}

header, nav {
	background-color:#d1f1e3;
	font-family:"Lucida Handwriting";
	padding:5px;
	/*justify-content:center;*/
}

.navbar-toggler {
	border:solid 1px;
	border-color:#afc7cd;
}

.nav-link {
	text-decoration: underline;
}

.carousel-item {
	text-align:center;
	justify-content:center;
	position:relative;
	height:100%;
}

.carousel-item img {
	/*max-height:500px;
	max-width:800px;
	max-height:80vh;*/
	height:90vh;
	width:80%;
	display:inline-block !important;
	object-fit: cover;
}

.carousel-caption {
	background-color:rgba(175,199,205,0.8);
}

.carousel-caption > a {
	font-weight:bold;
}

#section{
	font-family:"Lucida Handwriting";
	margin-top:25px;
	margin-bottom:25px;
	margin-left:0px;
	font-weight:bold;
}

#mypic{
	height:150px;
	object-fit:cover;
	float:center;
}

.card {
	background-color:#d1f1e3;
	margin-top:10px;
}

.card-header > h6 {
	font-weight:bold;
	text-align:center;
	font-size:14px;
}

.card-img-top{
	height:200px;
	object-fit:scale-down;
}

.card-body {
	/*height:100vh;*/
	font-size: 12px;
}

.card-footer {
	font-size:12px;
}

.card-footer > a {
	font-size:12px;
	background-color: rgba(175,199,205,1.0);
	color:#473904;
	border:solid 1px;
	border-color:rgba(175,199,205,1.0);
	border-radius:5px;
}

.card-footer > a:hover {
	background-color: rgba(175,199,205,0.5);
	color:black;
	border-color:rgba(175,199,205,1.0);
}

#short_resume{
	padding:10px;
	background-color:rgba(255,255,255,0.7)
}

#contact_items p {
	text-align:center;
	padding-top:15px;
}

#quotes {
	font-family:"Lucida Handwriting";
	text-align:center
}

#quotes h5{
	background-color:rgba(175,199,205,0.7);
}

footer{
	margin:0;
}

footer p{
	text-align:center;
	font-size:8pt;
	font-style:italic;
	padding:0;
	margin:0;
	background-color:#d1f1e3
}