body {
	background-color:#afc7cd;
}

#wrapper{
	/*font-family:"Lucida Bright",fantasy;*/
	font-size: 3vmin;
	color: #473904;
	padding-left:5px;
	padding-right:5px;
}

#body-wrapper{
	margin:0px;
}

h4 > span{
	background-color:rgba(175,199,205,0.7);
	padding:10px;
	font-size:3.5vmin;
	font-weight:bold;
}

h5 > span{
	background-color:rgba(209,241,227,0.7);
	text-align: center;
	padding:5px;
	font-size:3.25vmin;
	font-weight:bold;
}

h6 {
	font-weight:bold;
	font-size:3vmin;
}

p {
	font-size:3vmin;
}

li {
	font-size:3vmin;
}

header, nav {
	/*background-color:#d1f1e3;*/
	background-color:rgba(209,241,227,0.7);
	font-family:"Lucida Handwriting";
	padding:5px;
	/*justify-content:center;*/
}

nav {
	height:10vh;
}

#app-title {
	font-size:3vmin;
	color:#473904;
	font-weight:bold;
	margin-top:0;
	width:auto;
	padding:0px;
}

.navbar-toggler {
	border:solid 1px;
	border-color:#afc7cd;
}

#navbar-toggler-btn {
	font-size:3vmin;
	padding:0;
	margin:0;
}

#navbar-toggler-btn:focus,
#navbar-toggler-btn:active {
	outline:none;
	box-shadow:none;
}

#nav-list {
	font-size:2.5vmin;
	/*background-color:#d1f1e3;
	max-width:fit-content;*/
	background-color:rgba(209,241,227,0.7);
	padding:5px;
	text-align:center;
	min-width:1rem;
}

#work-menu {
	/*max-width:fit-content;
	background-color:#d1f1e3;*/
	background-color:rgba(255,255,255,0.7);
	text-align:center;
	min-width:1rem;
}

/*.dropdown-toggle::after.open {
	transform:rotateZ(180deg);
}*/

#academic_work-menu:focus,
#academic_work-menu:hover,
#professional_work-menu:focus,
#professional_work-menu:hover {
	color:#afc7cd;
}

.nav-link {
	text-decoration: underline;
}

#about-me-menu,
#navbarDropdown,
#academic_work-menu,
#professional_work-menu,
#experience-menu,
#contact-menu {
	color:#473904;
	text-decoration:underline;
	font-size:2.5vmin;
}

#about-me-menu:hover,
#navbarDropdown:hover,
#academic_work-menu:hover,
#professional_work-menu:hover,
#experience-menu:hover,
#contact-menu:hover {
	/*color:#afc7cd;*/
	color:black;
	font-weight:bold;
}

#carouselWork {
	height:80vh;
	justify-content:center;
	margin-top:5vh;
}

.carousel-item {
	text-align:center;
	justify-content:center;
	position:relative;
	height:100%;
}

.carousel-item img {
	height:80vh;
	width:80%;
	display:inline-block !important;
	object-fit: cover;
}

/*.carousel-caption {
	background-color:rgba(175,199,205,0.8);
	padding:5px;
}

.carousel-caption > a {
	font-weight:bold;
	font-size:3vmin;
}

.carousel-caption > a:hover {
	color:#afc7cd;
}*/

.carousel-a {
	font-weight:bold;
	font-size:3vmin;
	background-color:rgba(175,199,205,0.8);
	line-height:6vmin;
	padding:20px;
}

.carousel-a:hover,
.carousel-a:focus {
	color:black !important;
}

#section{
	font-family:"Lucida Handwriting";
	margin-top:60px;
	margin-bottom:25px;
	margin-left:0px;
	font-weight:bold;
}

#mypic{
	width:100%;
	object-fit:cover;
	float:center;
}

#bio,
#focus_statement {
	/*background-color:rgba(255,255,255,0.7);*/
	background-color:white;
	padding:10px;
}

.card {
	background-color:#d1f1e3;
	margin-top:40px;
}

.card-header > h6 {
	font-weight:bold;
	text-align:center;
	font-size:3.25vmin;
}

.card-img-top{
	height:200px;
	object-fit:scale-down;
}

.card-body {
	font-size: 3vmin;
}

.card-footer {
	font-size:3vmin;
}

.card-footer > a,
.card-footer > a:focus {
	font-size:3vmin;
	background-color: rgba(175,199,205,1.0);
	color:#473904;
	border:solid 1px;
	border-color:rgba(175,199,205,1.0);
	border-radius:5px;
	outline:none;
	box-shadow:none;
}

.card-footer > a:hover,
.card-footer > a:active {
	background-color: rgba(175,199,205,0.5);
	color:black;
	border-color:rgba(175,199,205,1.0);
	outline:none;
	box-shadow:none;
}

#short_resume{
	padding:10px;
	/*background-color:rgba(255,255,255,0.7);*/
	background-color:white;
}

#education,
#work,
#skills {
	font-size:3vmin;
	font-weight:bold;
}

#contact_items p {
	text-align:center;
	padding-top:15px;
}

#quotes {
	font-family:"Lucida Handwriting";
	text-align:center;
	margin-top:60px;
	margin-bottom:60px;
}

#quotes h5{
	background-color:rgba(175,199,205,0.7);
	font-size:3vmin;
}

footer{
	margin:0;
}

footer p{
	text-align:center;
	font-size:2.25vmin;
	font-style:italic;
	padding:0;
	margin:0;
	/*background-color:#d1f1e3;*/
	background-color:rgba(209,241,227,0.7);
}